<!DOCTYPE html> <!-- Define o tipo de documento como HTML -->
<html lang="pt-br"> <!-- Inicia a tag HTML e define o idioma da página como português brasileiro -->
<head> <!-- Inicia a seção de cabeçalho do documento HTML -->
    <meta charset="UTF-8"> <!-- Define a codificação de caracteres para o documento como UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Define a viewport para dispositivos móveis e define a escala inicial -->
    <title>Centro Universitário Leonardo da Vinci - Uniasselvi </title> <!-- Define o título da página que é exibido na aba do navegador -->
</head> <!-- Fecha a seção de cabeçalho do documento HTML -->
<body> <!-- Inicia a seção de corpo do documento HTML, onde o conteúdo principal da página é colocado -->
    {{{ body }}} <!-- Injeta o conteúdo da variável "body" no corpo do documento. As três chaves permitem a injeção de HTML sem escape -->
</body> <!-- Fecha a seção de corpo do documento HTML -->
</html> <!-- Fecha a tag HTML -->