<h3>A1terar Aluno</h3>
{{#each alterarlJm}}
{{/each}}

<form action - "/efetuar-alteracao" method = "post">
<label for ="">Matricula:</label>
<input type="text" name="txtmatriucla" id=""><br>
<label for ="">Nome:</label>
<input type="text" name="txtnome" id=""><br>
<label for ="">Curso:</label>
<input type="text" name="txtcurso" id=""><br>
<label for ="">Turma:</label>
<input type="text" name="txtturma" id="">